<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>手机游戏免费下载-最新热门手游推荐-51游戏下载网</title>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./static/css/base.css" type="text/css" />
  <link rel="stylesheet" href="./static/css/home.css" type="text/css" />
</head>

<body>
  <div id="app" v-cloak>
    <el-container>
      <el-header height="150px">
        <el-row class="header1" :gutter="0">
          <el-col :span="12">
            <a href="./index.html">
              <img class="logo" :src="logUrl">
            </a>
          </el-col>
        </el-row>
        <el-row type="flex" justify="center" class="header2" :gutter="0">
          <el-col class="menuList">
            <ul>
              <!-- <li><a :href="item.link">{{item.value}}</a></li> -->
              <li class="active"><a href="">首页</a></li>
              <li><a href="">手机游戏</a></li>
              <li><a href="">手机应用</a></li>
              <li><a href="">专题合集</a></li>
              <li><a href="">游戏攻略</a></li>
              <li><a href="">电脑软件</a></li>
              <li><a href="">软件教程</a></li>
            </ul>
          </el-col>
        </el-row>
      </el-header>
      <el-main class="mainClass">
        <div class="mainBox">
          <el-row type="flex" justify="space-between" :gutter="20">
            <el-col :span="17">
              <div class="taps d">
                <div class="tap_title">
                  <p>最近<span>新游榜</span></p>
                </div>
                <div class="box">
                  <el-carousel height="400px" class="slide" indicator-position="outside">
                    <el-carousel-item v-for="(item,index) in bannerList" :key="index">
                      <img :src="item.imgUrl" alt="">
                      <p>{{item.title}}</p>
                    </el-carousel-item>
                  </el-carousel>
                </div>
              </div>
            </el-col>
            <el-col :span="7">
              <div class="taps a">
                <div class="tap_title_1">
                  <p>推荐</p>
                  <ul class="taps_a">
                    <li v-for="item in gameList1"><a :href="item.link">{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="taps b">
                <div class="tap_title_1">
                  <p>热门</p>
                  <ul class="taps_b">
                    <li v-for="item in gameList2"><a :href="item.link">{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="taps c">
                <div class="tap_title_1">
                  <p>软件</p>
                  <ul class="taps_c">
                    <li v-for="(item,index) in gameList3"><a :href="item.link"><span>{{index + 1}}</span>{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </div>
</body>
<style>
  * {
    margin: 0px;
    padding: 0px;
  }
</style>
<!-- import Vue before Element -->
<script src="./static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      logUrl: "./static/img/logo.png",
      menuList: [{
        value: '首页',
        link: '',
      }, {
        value: '手机游戏',
        link: '',
      }, {
        value: '手机应用',
        link: '',
      }, {
        value: '专题合集',
        link: '',
      }, {
        value: '游戏攻略',
        link: '',
      }, {
        value: '电脑软件',
        link: '',
      }, {
        value: '软件教程',
        link: '',
      }, ],
      bannerList: [{
          title: "测试1",
          imgUrl: "./static/img/banner.jpg"
        },
        {
          title: "测试2",
          imgUrl: "./static/img/banner.jpg"
        },
        {
          title: "测试3",
          imgUrl: "./static/img/banner.jpg"
        },
        {
          title: "测试4",
          imgUrl: "./static/img/banner.jpg"
        }
      ],
      gameList1: [{
        name: '超级房车赛',
        link: ''
      }, {
        name: '光环助手',
        link: ''
      }, {
        name: '光与夜之恋',
        link: ''
      }, {
        name: '小黑盒加速器',
        link: ''
      }, {
        name: '我的安吉拉',
        link: ''
      }, {
        name: '洋果子店游戏',
        link: ''
      }, {
        name: '魔法枪3D',
        link: ''
      }, {
        name: '模拟山羊太空废物',
        link: ''
      }],
      gameList2: [{
        name: '超级房车赛',
        link: ''
      }, {
        name: '光环助手',
        link: ''
      }, {
        name: '光与夜之恋',
        link: ''
      }, {
        name: '小黑盒加速器',
        link: ''
      }, {
        name: '我的安吉拉',
        link: ''
      }, {
        name: '洋果子店游戏',
        link: ''
      }, {
        name: '魔法枪3D',
        link: ''
      }, {
        name: '模拟山羊太空废物',
        link: ''
      }],
      gameList3: [{
        name: 'vagaa哇嘎最新版',
        link: ''
      }, {
        name: '华为鸿蒙pc系统',
        link: ''
      }, {
        name: 'vagaa哇嘎画时代',
        link: ''
      }, {
        name: '长江雨课堂',
        link: ''
      }, {
        name: '魔兽对战平台修改器',
        link: ''
      }, {
        name: '7launcher CSGO',
        link: ''
      }],

    },
    created() {

    }
  })
</script>

</html>