<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>手机游戏免费下载-最新热门手游推荐-51游戏下载网</title>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./static/css/base.css" type="text/css" />
  <link rel="stylesheet" href="./static/css/home.css" type="text/css" />
</head>

<body>
  <div id="app" v-cloak>
    <el-container>
      <el-header height="150px">
        <el-row class="header1" :gutter="0">
          <el-col :span="12">
            <a href="./index.html">
              <img class="logo" :src="logUrl">
            </a>
          </el-col>
        </el-row>
        <el-row type="flex" justify="center" class="header2" :gutter="0">
          <el-col class="menuList">
            <ul>
              <!-- <li><a :href="item.link">{{item.value}}</a></li> -->
              <li class="active"><a href="">首页</a></li>
              <li><a href="">手机游戏</a></li>
              <li><a href="">手机应用</a></li>
              <li><a href="">专题合集</a></li>
              <li><a href="">游戏攻略</a></li>
              <li><a href="">电脑软件</a></li>
              <li><a href="">软件教程</a></li>
            </ul>
          </el-col>
        </el-row>
      </el-header>
      <el-main class="mainClass">
        <div class="mainBox">
          <!-- mode1 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="17">
              <div class="taps d">
                <div class="tap_title">
                  <p>最近<span>新游榜</span></p>
                </div>
                <div class="box">
                  <el-carousel height="400px" class="slide" indicator-position="outside">
                    <el-carousel-item v-for="(item,index) in bannerList" :key="index">
                      <img :src="item.imgUrl" alt="">
                      <p>{{item.title}}</p>
                    </el-carousel-item>
                  </el-carousel>
                </div>
              </div>
            </el-col>
            <el-col :span="7">
              <div class="taps a">
                <div class="tap_title_1">
                  <p>推荐</p>
                  <ul class="taps_a">
                    <li v-for="item in gameList1"><a :href="item.link">{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="taps b">
                <div class="tap_title_1">
                  <p>热门</p>
                  <ul class="taps_b">
                    <li v-for="item in gameList2"><a :href="item.link">{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="taps c">
                <div class="tap_title_1">
                  <p>软件</p>
                  <ul class="taps_c">
                    <li v-for="(item,index) in gameList3"><a
                        :href="item.link"><span>{{index + 1}}</span>{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
            </el-col>
          </el-row>
          <!-- mode2 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="24">
              <div class="taps e">
                <ul>
                  <li v-for="item in gameList4">
                    <a :href="item.link">
                      <img :src="item.imgUrl">
                      <p>{{item.tit}}</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="taps f">
                <el-row type="flex" justify="space-between" :gutter="20">
                  <el-col :span="17">
                    <div class="tap_title f">
                      <p :class="{active:shows == 1}" @mouseover="shows1()" @click="shows1()">手机游戏</p><span>/</span>
                      <p :class="{active:shows == 2}" @mouseover="shows2()" @click="shows2()">电脑软件</p>
                    </div>
                    <ul class="url_f1" v-show="shows == 1">
                      <li v-for="item in gameList5">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">{{item.type}}<span>{{item.time}}</span></p>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f1" v-show="shows == 2">
                      <li v-for="item in gameList6">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">{{item.type}}<span>{{item.time}}</span></p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="7">
                    <div class="tap_title">
                      <p>小编<span>推荐</span></p>
                    </div>
                    <ul class="url_f2">
                      <li v-for="item in gameList7">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">{{item.type}} |<span>大小：{{item.number}}</span></p>
                            <div class="detail">查看</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
          <!-- mode3 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="24">
              <div class="taps g">
                <el-row type="flex" justify="space-between" :gutter="20">
                  <el-col :span="17">
                    <div class="tap_title">
                      <p>热门<span>手游</span></p>
                      <a href="#">更多+</a>
                    </div>
                    <ul class="url_f3">
                      <li v-for="item in gameList8">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                          <p class="type">{{item.type}}</p>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="7">
                    <div class="tap_title">
                      <p>必备游戏<span>排行榜</span></p>
                    </div>
                    <ul class="url_f4">
                      <li @mouseover="urlHover()" mouseLeave="urlHover1()" v-for="(item,index) in gameList9">
                        <a :href="item.link">
                          <div class="number">{{index+1}}</div>
                          <p class="title1">{{item.tit}}</p>
                          <div class="detail">查看</div>
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">
                              <span>{{item.number}}</span>
                              <el-rate v-model="item.value" disabled show-score text-color="#ff9900"
                                score-template="{value}">
                              </el-rate>
                            </p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
          <!-- mode4 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="24">
              <div class="taps g">
                <el-row type="flex" justify="space-between" :gutter="20">
                  <el-col :span="17">
                    <div class="tap_title">
                      <p>必备<span>软件</span></p>
                      <a href="#">更多+</a>
                    </div>
                    <ul class="url_f5">
                      <p class="tit">系统软件</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t2">网络工具</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t3">安全软件</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t4">图形图像</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t5">影音媒体</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t6">社交聊天</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t7">游戏工具</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t8">应用工具</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="7">
                    <div class="tap_title">
                      <p>电脑软件<span>排行榜</span></p>
                    </div>
                    <ul class="url_f4">
                      <li @mouseover="urlHover()" mouseLeave="urlHover1()" v-for="(item,index) in gameList9">
                        <a :href="item.link">
                          <div class="number">{{index+1}}</div>
                          <p class="title1">{{item.tit}}</p>
                          <div class="detail">查看</div>
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">
                              <span>{{item.number}}</span>
                              <el-rate v-model="item.value" disabled show-score text-color="#ff9900"
                                score-template="{value}">
                              </el-rate>
                            </p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </div>
</body>
<style>
  * {
    margin: 0px;
    padding: 0px;
  }
</style>
<!-- import Vue before Element -->
<script src="./static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      logUrl: "./static/img/logo.png", //logo图片地址
      shows: 1, //控制手机active
      menuList: [{
        value: '首页',
        link: '',
      }, {
        value: '手机游戏',
        link: '',
      }, {
        value: '手机应用',
        link: '',
      }, {
        value: '专题合集',
        link: '',
      }, {
        value: '游戏攻略',
        link: '',
      }, {
        value: '电脑软件',
        link: '',
      }, {
        value: '软件教程',
        link: '',
      }, ],
      bannerList: [{
          title: "测试1",
          imgUrl: "./static/img/banner.jpg"
        },
        {
          title: "测试2",
          imgUrl: "./static/img/banner.jpg"
        },
        {
          title: "测试3",
          imgUrl: "./static/img/banner.jpg"
        },
        {
          title: "测试4",
          imgUrl: "./static/img/banner.jpg"
        }
      ],
      gameList1: [{
        name: '超级房车赛',
        link: ''
      }, {
        name: '光环助手',
        link: ''
      }, {
        name: '光与夜之恋',
        link: ''
      }, {
        name: '小黑盒加速器',
        link: ''
      }, {
        name: '我的安吉拉',
        link: ''
      }, {
        name: '洋果子店游戏',
        link: ''
      }, {
        name: '魔法枪3D',
        link: ''
      }, {
        name: '模拟山羊太空废物',
        link: ''
      }],
      gameList2: [{
        name: '超级房车赛',
        link: ''
      }, {
        name: '光环助手',
        link: ''
      }, {
        name: '光与夜之恋',
        link: ''
      }, {
        name: '小黑盒加速器',
        link: ''
      }, {
        name: '我的安吉拉',
        link: ''
      }, {
        name: '洋果子店游戏',
        link: ''
      }, {
        name: '魔法枪3D',
        link: ''
      }, {
        name: '模拟山羊太空废物',
        link: ''
      }],
      gameList3: [{
        name: 'vagaa哇嘎最新版',
        link: ''
      }, {
        name: '华为鸿蒙pc系统',
        link: ''
      }, {
        name: 'vagaa哇嘎画时代',
        link: ''
      }, {
        name: '长江雨课堂',
        link: ''
      }, {
        name: '魔兽对战平台修改器',
        link: ''
      }, {
        name: '7launcher CSGO',
        link: ''
      }],
      gameList4: [{
        imgUrl: './static/img/20191219025933751.png',
        link: '#',
        tit: '香肠派对',
      }, {
        imgUrl: './static/img/20191219025933751.png',
        link: '#',
        tit: '香肠派对',
      }, {
        imgUrl: './static/img/20191219025933751.png',
        link: '#',
        tit: '香肠派对',
      }, {
        imgUrl: './static/img/20191219025933751.png',
        link: '#',
        tit: '香肠派对',
      }, {
        imgUrl: './static/img/20191219025933751.png',
        link: '#',
        tit: '香肠派对',
      }, {
        imgUrl: './static/img/20191219025933751.png',
        link: '#',
        tit: '香肠派对',
      }, {
        imgUrl: './static/img/20191219025933751.png',
        link: '#',
        tit: '香肠派对',
      }, {
        imgUrl: './static/img/20191219025933751.png',
        link: '#',
        tit: '香肠派对',
      }],
      gameList5: [{
        imgUrl: './static/img/20220302145929680.png',
        link: '#',
        tit: '荣耀大天使',
        time: '05/22',
        type: "动作冒险",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220302145929680.png',
        link: '#',
        tit: '荣耀大天使',
        time: '05/22',
        type: "动作冒险",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220302145929680.png',
        link: '#',
        tit: '荣耀大天使',
        time: '05/22',
        type: "动作冒险",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220302145929680.png',
        link: '#',
        tit: '荣耀大天使',
        time: '05/22',
        type: "动作冒险",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220302145929680.png',
        link: '#',
        tit: '荣耀大天使',
        time: '05/22',
        type: "动作冒险",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220302145929680.png',
        link: '#',
        tit: '荣耀大天使',
        time: '05/22',
        type: "动作冒险",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220302145929680.png',
        link: '#',
        tit: '荣耀大天使',
        time: '05/22',
        type: "动作冒险",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220302145929680.png',
        link: '#',
        tit: '荣耀大天使',
        time: '05/22',
        type: "动作冒险",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220302145929680.png',
        link: '#',
        tit: '荣耀大天使',
        time: '05/22',
        type: "动作冒险",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }],
      gameList6: [{
        imgUrl: './static/img/20220426143802944.jpg',
        link: '#',
        tit: 'codesoft绿色版 v6.0',
        time: '05/22',
        type: "应用工具",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220426143802944.jpg',
        link: '#',
        tit: 'codesoft绿色版 v6.0',
        time: '05/22',
        type: "应用工具",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220426143802944.jpg',
        link: '#',
        tit: 'codesoft绿色版 v6.0',
        time: '05/22',
        type: "应用工具",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220426143802944.jpg',
        link: '#',
        tit: 'codesoft绿色版 v6.0',
        time: '05/22',
        type: "应用工具",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220426143802944.jpg',
        link: '#',
        tit: 'codesoft绿色版 v6.0',
        time: '05/22',
        type: "应用工具",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220426143802944.jpg',
        link: '#',
        tit: 'codesoft绿色版 v6.0',
        time: '05/22',
        type: "应用工具",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220426143802944.jpg',
        link: '#',
        tit: 'codesoft绿色版 v6.0',
        time: '05/22',
        type: "应用工具",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220426143802944.jpg',
        link: '#',
        tit: 'codesoft绿色版 v6.0',
        time: '05/22',
        type: "应用工具",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220426143802944.jpg',
        link: '#',
        tit: 'codesoft绿色版 v6.0',
        time: '05/22',
        type: "应用工具",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }],
      gameList7: [{
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        type: "角色扮演",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        type: "角色扮演",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        type: "角色扮演",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        type: "角色扮演",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        type: "角色扮演",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }],
      gameList8: [{
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '保卫萝卜3',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }],
      gameList9: [{
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        value: "4.0",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        value: "4.0",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        value: "4.0",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        value: "4.0",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        value: "4.0",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        value: "4.0",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        value: "4.0",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20220429110329254.png',
        link: '#',
        tit: '屠龙破晓手机最新版',
        number: '288.2MB',
        value: "4.0",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }],
      gameList10: [{
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '鲁大师绿色版',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '鲁大师绿色版',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '鲁大师绿色版',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }, {
        imgUrl: './static/img/20200509034610724.png',
        link: '#',
        tit: '鲁大师绿色版',
        time: '05/22',
        type: "休闲益智",
        intro: '荣耀大天使手机版是一款沉浸式剧情冒险挑战游戏，不同职业自由切换，跌宕起伏的精彩挑战，暗黑风格'
      }],
    },
    created() {

    },
    methods: {
      shows1() {
        this.shows = 1
      },
      shows2() {
        this.shows = 2
      },
      urlHover() {
        this.url4Hover1 = false
        this.url4Hover = true
      }
    }
  })
</script>

</html>