<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>手机游戏免费下载-最新热门手游推荐-51游戏下载网</title>
  <!-- import CSS -->
  <link rel="icon" type="image/x-icon" href="./static/img/061322355837_0image.ico">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./static/css/base.css" type="text/css" />
  <link rel="stylesheet" href="./static/css/home.css" type="text/css" />
</head>

<body>
  <div id="app" v-cloak>
    <el-container>
      <el-header height="150px">
        <el-row class="header1" :gutter="0">
          <el-col :span="12">
            <a href="./index.html">
              <img :src="logUrl" class="logo">
            </a>
          </el-col>
          <el-col :span="12">
            <div class="input-wrap">
              <input class="input keyword-text" type="text" name="q" value="" maxlength="30">
              <input class="button" type="button" value="搜索">
            </div>
          </el-col>
        </el-row>
        <el-row type="flex" justify="center" class="header2" :gutter="0">
          <el-col class="menuList">
            <ul>
              <!-- <li><a :href="item.link">{{item.value}}</a></li> -->
              <li class="active"><a href="">首页</a></li>
              <li><a href="">手机游戏</a></li>
              <li><a href="">手机应用</a></li>
              <li><a href="">专题合集</a></li>
              <li><a href="">游戏攻略</a></li>
              <li><a href="">电脑软件</a></li>
              <li><a href="">软件教程</a></li>
            </ul>
          </el-col>
        </el-row>
      </el-header>
      <el-main class="mainClass">
        <div class="mainBox">
          <!-- mode1 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="17">
              <div class="taps d">
                <div class="tap_title">
                  <p>最近<span>新游榜</span></p>
                </div>
                <div class="box">
                  <el-carousel height="400px" class="slide" indicator-position="outside">
                    <el-carousel-item v-for="(item,index) in bannerList" :key="index">
                      <img :src="item.imgUrl" alt="">
                      <p>{{item.title}}</p>
                    </el-carousel-item>
                  </el-carousel>
                </div>
              </div>
            </el-col>
            <el-col :span="7">
              <div class="taps a">
                <div class="tap_title_1">
                  <p>推荐</p>
                  <ul class="taps_a">
                    <li v-for="item in gameList1"><a :href="item.link">{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="taps b">
                <div class="tap_title_1">
                  <p>热门</p>
                  <ul class="taps_b">
                    <li v-for="item in gameList2"><a :href="item.link">{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="taps c">
                <div class="tap_title_1">
                  <p>软件</p>
                  <ul class="taps_c">
                    <li v-for="(item,index) in gameList3"><a
                        :href="item.link"><span>{{index + 1}}</span>{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
            </el-col>
          </el-row>
          <!-- mode2 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="24">
              <div class="taps e">
                <ul>
                  <li v-for="item in gameList4">
                    <a :href="item.link">
                      <img :src="item.imgUrl">
                      <p>{{item.tit}}</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="taps f">
                <el-row type="flex" justify="space-between" :gutter="20">
                  <el-col :span="17">
                    <div class="tap_title f">
                      <p :class="{active:shows == 1}" @mouseover="shows1()" @click="shows1()">手机游戏</p><span>/</span>
                      <p :class="{active:shows == 2}" @mouseover="shows2()" @click="shows2()">电脑软件</p>
                    </div>
                    <ul class="url_f1" v-show="shows == 1">
                      <li v-for="item in gameList5">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">{{item.type}}<span>{{item.time}}</span></p>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f1" v-show="shows == 2">
                      <li v-for="item in gameList6">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">{{item.type}}<span>{{item.time}}</span></p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="7">
                    <div class="tap_title">
                      <p>小编<span>推荐</span></p>
                    </div>
                    <ul class="url_f2">
                      <li v-for="item in gameList7">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">{{item.type}} |<span>大小：{{item.number}}</span></p>
                            <div class="detail">查看</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
          <!-- mode3 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="24">
              <div class="taps g">
                <el-row type="flex" justify="space-between" :gutter="20">
                  <el-col :span="17">
                    <div class="tap_title">
                      <p>热门<span>手游</span></p>
                      <a href="#">更多+</a>
                    </div>
                    <ul class="url_f3">
                      <li v-for="item in gameList8">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                          <p class="type">{{item.type}}</p>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="7">
                    <div class="tap_title">
                      <p>必备游戏<span>排行榜</span></p>
                    </div>
                    <ul class="url_f4">
                      <li @mouseover="urlHover()" mouseLeave="urlHover1()" v-for="(item,index) in gameList9">
                        <a :href="item.link">
                          <div class="number">{{index+1}}</div>
                          <p class="title1">{{item.tit}}</p>
                          <div class="detail">查看</div>
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">
                              <span>{{item.number}}</span>
                              <el-rate v-model="item.value" disabled show-score text-color="#ff9900"
                                score-template="{value}">
                              </el-rate>
                            </p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
          <!-- mode4 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="24">
              <div class="taps g">
                <el-row type="flex" justify="space-between" :gutter="20">
                  <el-col :span="17">
                    <div class="tap_title">
                      <p>必备<span>软件</span></p>
                      <a href="#">更多+</a>
                    </div>
                    <ul class="url_f5">
                      <p class="tit">系统软件</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t2">网络工具</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t3">安全软件</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t4">图形图像</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t5">影音媒体</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t6">社交聊天</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t7">游戏工具</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f5">
                      <p class="tit t8">应用工具</p>
                      <li v-for="item in gameList10">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="7">
                    <div class="tap_title">
                      <p>电脑软件<span>排行榜</span></p>
                    </div>
                    <ul class="url_f4">
                      <li @mouseover="urlHover()" mouseLeave="urlHover1()" v-for="(item,index) in gameList9">
                        <a :href="item.link">
                          <div class="number">{{index+1}}</div>
                          <p class="title1">{{item.tit}}</p>
                          <div class="detail">查看</div>
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">
                              <span>{{item.number}}</span>
                              <el-rate v-model="item.value" disabled show-score text-color="#ff9900"
                                score-template="{value}">
                              </el-rate>
                            </p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
          <!-- mode5 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="24">
              <div class="taps g">
                <el-row type="flex" justify="space-between" :gutter="20">
                  <el-col :span="17">
                    <div class="tap_title">
                      <p>精选<span>游戏</span></p>
                      <a href="#">更多+</a>
                    </div>
                    <ul class="url_f3">
                      <li v-for="item in gameList8">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <p class="title">{{item.tit}}</p>
                          <p class="type">{{item.type}}</p>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="7">
                    <div class="tap_title">
                      <p>火爆游戏<span>排行榜</span></p>
                    </div>
                    <ul class="url_f4">
                      <li @mouseover="urlHover()" mouseLeave="urlHover1()" v-for="(item,index) in gameList9">
                        <a :href="item.link">
                          <div class="number">{{index+1}}</div>
                          <p class="title1">{{item.tit}}</p>
                          <div class="detail">查看</div>
                          <img :src="item.imgUrl">
                          <div class="txt">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">
                              <span>{{item.number}}</span>
                              <el-rate v-model="item.value" disabled show-score text-color="#ff9900"
                                score-template="{value}">
                              </el-rate>
                            </p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
          <!-- mode6 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="24">
              <div class="taps g h">
                <el-row :gutter="20">
                  <el-col :span="24">
                    <div class="tap_title">
                      <p>游戏<span>攻略</span></p>
                      <a href="#">更多+</a>
                    </div>
                    <ul class="url_f6">
                      <li v-for="item in gameList11">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <div class="txtBox">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">{{item.intro}}</p>
                            <div class="detail">查看详情</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="24">
                    <ul class="url_f7">
                      <div class="rm">热门</div>
                      <li v-for="item in gameList12">
                        <a :href="item.link">
                          <p class="title">{{item.tit}}</p>
                          <p class="type">{{item.time}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f7">
                      <div class="tj">推荐</div>
                      <li v-for="item in gameList12">
                        <a :href="item.link">
                          <p class="title">{{item.tit}}</p>
                          <p class="type">{{item.time}}</p>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
          <!-- mode7 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="24">
              <div class="taps g h">
                <el-row :gutter="20">
                  <el-col :span="24">
                    <div class="tap_title">
                      <p>软件<span>教程</span></p>
                      <a href="#">更多+</a>
                    </div>
                    <ul class="url_f6">
                      <li v-for="item in gameList11">
                        <a :href="item.link">
                          <img :src="item.imgUrl">
                          <div class="txtBox">
                            <p class="title">{{item.tit}}</p>
                            <p class="type">{{item.intro}}</p>
                            <div class="detail">查看详情</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                  <el-col :span="24">
                    <ul class="url_f7">
                      <div class="rm">热门</div>
                      <li v-for="item in gameList12">
                        <a :href="item.link">
                          <p class="title">{{item.tit}}</p>
                          <p class="type">{{item.time}}</p>
                        </a>
                      </li>
                    </ul>
                    <ul class="url_f7">
                      <div class="tj">推荐</div>
                      <li v-for="item in gameList12">
                        <a :href="item.link">
                          <p class="title">{{item.tit}}</p>
                          <p class="type">{{item.time}}</p>
                        </a>
                      </li>
                    </ul>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-main>
      <el-footer>
        <div class="footBox">
          <p>Copyright 51游戏下载(51yxxz.com). All Rights Reserved</p>
          <p><a href="https://beian.miit.gov.cn/" target="_blank">备案号:闽ICP备2022008854号</a></p>
        </div>
      </el-footer>
    </el-container>
  </div>
</body>
<style>
  * {
    margin: 0px;
    padding: 0px;
  }
</style>
<!-- import Vue before Element -->
<script src="./static/js/vue.js"></script>
<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>

<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./static/js/index.js"></script>

</html>