<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>手机游戏免费下载-最新热门手游推荐-51游戏下载网</title>
  <!-- import CSS -->
  <link rel="icon" type="image/x-icon" href="../static/img/061322355837_0image.ico">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="../static/css/base.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/home.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/detail.css" type="text/css" />
</head>

<body>
  <div id="app" v-cloak>
    <el-container>
      <el-header height="150px">
        <el-row class="header1" :gutter="0">
          <el-col :span="12">
            <a href="../index.html">
              <img class="logo" :src="logUrl">
            </a>
          </el-col>
          <el-col :span="12">
            <div class="input-wrap">
              <input class="input keyword-text" type="text" name="q" value="" maxlength="30">
              <input class="button" type="button" value="搜索">
            </div>
          </el-col>
        </el-row>
        <el-row type="flex" justify="center" class="header2" :gutter="0">
          <el-col class="menuList">
            <ul>
              <!-- <li><a :href="item.link">{{item.value}}</a></li> -->
              <li class="active"><a href="">首页</a></li>
              <li><a href="">手机游戏</a></li>
              <li><a href="">手机应用</a></li>
              <li><a href="">专题合集</a></li>
              <li><a href="">游戏攻略</a></li>
              <li><a href="">电脑软件</a></li>
              <li><a href="">软件教程</a></li>
            </ul>
          </el-col>
        </el-row>
      </el-header>
      <el-main class="mainClass">
        <div class="mainBox">
          <!-- mode1 -->
          <el-row class="thisRow" type="flex" justify="space-between" :gutter="20">
            <el-col :span="17">
              <div class="taps d">
                <div class="linkList">
                  <a href="">首页</a> > <a href="">手机游戏</a> > <a href="">叫我大掌柜最新正版</a>
                </div>
                <div class="box1">
                  <img class="imgbg" src="../static/img/20200509034610724.png" alt="">
                  <div class="bg">
                    <img class="imglogo" src="../static/img/20200509034610724.png" alt="">
                    <div class="txtBox">
                      <h1>叫我大掌柜最新正版</h1>
                      <div class="attr">
                        <dl>
                          <dt>类型：</dt>
                          <dd>经营养成</dd>
                        </dl>
                        <dl>
                          <dt>版本：</dt>
                          <dd>v4.0.0</dd>
                        </dl>
                        <dl>
                          <dt>语言：</dt>
                          <dd>简体中文</dd>
                        </dl>
                        <dl>
                          <dt>大小：</dt>
                          <dd>504.83MB</dd>
                        </dl>
                        <dl>
                          <dt>等级：</dt>
                          <dd>
                            <el-rate class="rate" v-model="rate" disabled text-color="#ff9900">
                            </el-rate>
                          </dd>
                        </dl>
                        <dl>
                          <dt>更新：</dt>
                          <dd>2022-03-24</dd>
                        </dl>
                        <dl>
                          <dt>厂商：</dt>
                          <dd>上海北岚网络科技有限公司</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="txtBox1">
                      <a href="">
                        <div class="azxz">
                          <div class="icon"></div>
                          <p>安卓版下载</p>
                        </div>
                      </a>
                      <a href="">
                        <div class="pgxz">
                          <div class="icon"></div>
                          <p>需跳转Apple Store下载</p>
                        </div>
                      </a>
                    </div>
                    <div class="txtBox2">
                      <div class="imgbox">
                        <img src="../static/img/52536.png" alt="">
                        <p>手机扫码下载游戏</p>
                        <div class="light"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box2">
                  <ul class="title">
                    <li class="active">应用介绍</li>
                    <li>其他版本</li>
                    <li>相关文章</li>
                  </ul>
                </div>
                <div class="box3">
                  介绍介绍
                </div>
              </div>
            </el-col>
            <el-col :span="7">
              <div class="taps a">
                <div class="tap_title_1">
                  <p>相关应用</p>
                  <ul class="taps_a">
                    <li v-for="item in gameList1"><a :href="item.link">{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="taps b">
                <div class="tap_title_1">
                  <p>下载排行</p>
                  <ul class="taps_b">
                    <li v-for="item in gameList2"><a :href="item.link">{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="taps c">
                <div class="tap_title_1">
                  <p>最新应用</p>
                  <ul class="taps_c">
                    <li v-for="(item,index) in gameList3"><a
                        :href="item.link"><span>{{index + 1}}</span>{{item.name}}</a></li>
                  </ul>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </div>
</body>
<style>
  * {
    margin: 0px;
    padding: 0px;
  }
</style>
<!-- import Vue before Element -->
<script src="../static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../static/js/detail.js"></script>

</html>