body {
    margin: 0px;
}

.header1 {
    width: 1200px;
    height: 105px;
    margin: 0px auto;
}

.header2 {
    width: 100%;
    height: 45px;
    margin: 0px auto;
    background-color: #5A4D4D
}

.logo {
    width: 130px;
    margin-top: 10px;
}

.menuList {
    width: 1200px;
    height: 45px;
}

.menuList ul li {
    width: 125px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    float: left;
    position: relative;
}

.menuList ul li.active {
    background-color: #6A6767
}

.menuList ul li:hover {
    background-color: #6A6767
}

.menuList ul li a {
    color: #fff;
    display: block;
    position: relative;
}

.menuList ul li.active a::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: #F7A934;
}

.mainClass {
    background-color: #E9E9E9;
}

.mainBox {
    width: 1200px;
    margin: 0px auto;
}

.taps {
    background-color: #fff;
    height: 500px;
    border-radius: 5px;
    padding: 15px;
}

.taps.a {
    background-color: #fff;
    height: calc(33.333333% - 10px);
    margin-bottom: 10px;
    padding: 10px;
}

.taps.b {
    background-color: #fff;
    height: calc(33.333333% - 10px);
    margin-bottom: 10px;
    padding: 10px;
}

.taps.c {
    background-color: #fff;
    height: 33.333333%;
    padding: 10px;
}

.tap_title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-weight: 700;
    position: relative;
}

.tap_title_1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 2px solid #f2f2f2;
}

.tap_title_1:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 6px;
    width: 6px;
    height: 20px;
    border-radius: 5px;
    background-color: #6E86FB;
}

.tap_title:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 8px;
    width: 10px;
    height: 24px;
    border-radius: 5px;
    background-color: #6E86FB;
}

.tap_title_1 p {
    padding-left: 16px;
}

.tap_title p {
    padding-left: 20px;
}

.tap_title span {
    color: #6E86FB;
}

.taps.d .box {
    height: 400px;
    background-color: #f2f2f2;
    margin-top: 10px;
}

.taps.d .box .slide {
    width: 100%;
    position: relative;
}

.taps.d .box .slide img {
    width: 100%;
    height: 100%;
}

.taps.d .box .slide p {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    color: #fff;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.taps_a {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin: 5px auto;
}

.taps_b {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin: 5px auto;
}

.taps_b li {
    float: left;
    padding: 0px 5px;
    margin: 2px 5px;
    color: #333;
    border-radius: 3px;
    position: relative;
}

.taps_b li:hover a {
    color: #409EFF;
}

.taps_b li::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #d5d5d5;
    top: 11px;
    right: 0px;
}

.taps_c {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin: 5px auto;
}

.taps_c li {
    width: 50%;
    margin: 3px 0px;
    float: left;
    color: #333;
    position: relative;
}


.taps_c li:nth-child(1) span{
    background-color: #FA4E57
}

.taps_c li:nth-child(2) span{
    background-color: #FA7A53
}

.taps_c li:nth-child(3) span{
    background-color: #FBC258
}
.taps_c li span {
    background-color: #879299;
    color: #fff;
    padding: 0px 5px;
    margin-right: 2px;
}

.taps_c li:hover a {
    color: #409EFF;
}


.taps_a li {
    float: left;
    padding: 0px 5px;
    margin: 2px 5px;
    color: #fff;
    border-radius: 3px;
}

.taps_a li:nth-child(1) {
    background-color: #409EFF;
}

.taps_a li:nth-child(2) {
    background-color: #67C23A;
}

.taps_a li:nth-child(3) {
    background-color: #909399;
}

.taps_a li:nth-child(4) {
    background-color: #F56C6C;
}

.taps_a li:nth-child(5) {
    background-color: #E6A23C;
}

.taps_a li:nth-child(6) {
    background-color: #860EC6;
}

.taps_a li:nth-child(7) {
    background-color: #E92165;
}

.taps_a li:nth-child(8) {
    background-color: #FCC4B2
}

.taps_a li a {
    color: #fff;
    display: inline-block;
}