body {
    margin: 0px;
}

.header1 {
    width: 1200px;
    height: 105px;
    margin: 0px auto;
}

.header2 {
    width: 100%;
    height: 45px;
    margin: 0px auto;
    background-color: #5A4D4D
}

.logo {
    width: 130px;
    margin-top: 10px;
}

.menuList {
    width: 1200px;
    height: 45px;
}

.menuList ul li {
    width: 125px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    float: left;
    position: relative;
}

.menuList ul li.active {
    background-color: #6A6767
}

.menuList ul li:hover {
    background-color: #6A6767
}

.menuList ul li a {
    color: #fff;
    display: block;
    position: relative;
}

.menuList ul li.active a::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: #F7A934;
}

.mainClass {
    background-color: #E9E9E9;
}

.mainBox {
    width: 1200px;
    margin: 0px auto;
}

.thisRow {
    margin-bottom: 20px;
}

.taps {
    background-color: #fff;
    height: 500px;
    border-radius: 5px;
    padding: 15px;
}

.taps.a {
    background-color: #fff;
    height: calc(33.333333% - 10px);
    margin-bottom: 10px;
    padding: 10px;
}

.taps.b {
    background-color: #fff;
    height: calc(33.333333% - 10px);
    margin-bottom: 10px;
    padding: 10px;
}

.taps.c {
    background-color: #fff;
    height: 33.333333%;
    padding: 10px;
}

.tap_title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-weight: 700;
    position: relative;
}

.tap_title_1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 2px solid #f2f2f2;
}

.tap_title_1:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 6px;
    width: 6px;
    height: 20px;
    border-radius: 5px;
    background-color: #6E86FB;
}

.tap_title:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 8px;
    width: 10px;
    height: 24px;
    border-radius: 5px;
    background-color: #6E86FB;
}

.tap_title_1 p {
    padding-left: 16px;
}

.tap_title p {
    padding-left: 20px;
}

.tap_title span {
    color: #6E86FB;
}

.taps.d .box {
    height: 400px;
    background-color: #f2f2f2;
    margin-top: 10px;
}

.taps.d .box .slide {
    width: 100%;
    position: relative;
}

.taps.d .box .slide img {
    width: 100%;
    height: 100%;
}

.taps.d .box .slide p {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    color: #fff;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.taps_a {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin: 5px auto;
}

.taps_b {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin: 5px auto;
}

.taps_b li {
    float: left;
    padding: 0px 5px;
    margin: 2px 5px;
    color: #333;
    border-radius: 3px;
    position: relative;
}

.taps_b li:hover a {
    color: #409EFF;
}

.taps_b li::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #d5d5d5;
    top: 11px;
    right: 0px;
}

.taps_c {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin: 5px auto;
    padding-left: 6px;
}

.taps_c li {
    width: 50%;
    margin: 3px 0px;
    float: left;
    color: #333;
    position: relative;
}


.taps_c li:nth-child(1) span {
    background-color: #FA4E57
}

.taps_c li:nth-child(2) span {
    background-color: #FA7A53
}

.taps_c li:nth-child(3) span {
    background-color: #FBC258
}

.taps_c li span {
    background-color: #879299;
    color: #fff;
    padding: 0px 5px;
    margin-right: 2px;
}

.taps_c li:hover a {
    color: #409EFF;
}


.taps_a li {
    float: left;
    padding: 0px 5px;
    margin: 2px 5px;
    color: #fff;
    border-radius: 3px;
}

.taps_a li:nth-child(1) {
    background-color: #409EFF;
}

.taps_a li:nth-child(2) {
    background-color: #67C23A;
}

.taps_a li:nth-child(3) {
    background-color: #909399;
}

.taps_a li:nth-child(4) {
    background-color: #F56C6C;
}

.taps_a li:nth-child(5) {
    background-color: #E6A23C;
}

.taps_a li:nth-child(6) {
    background-color: #860EC6;
}

.taps_a li:nth-child(7) {
    background-color: #E92165;
}

.taps_a li:nth-child(8) {
    background-color: #FCC4B2
}

.taps_a li a {
    color: #fff;
    display: inline-block;
}

.taps.e {
    width: 100%;
    height: 160px;
    border-radius: 5px 5px 0px 0px;
}

.taps.e ul {
    margin-top: 10px;
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
    height: 130px;
}

.taps.e ul li {
    width: 12.5%;
    float: left;
    text-align: center;
}

.taps.e ul li img {
    width: 85px;
    height: 85px;
    border-radius: 3px;
}

.taps.e ul li p {
    margin-top: 10px;
}

.taps.e ul li a:hover {
    color: #409EFF
}

.taps.e ul li a {
    display: inline-block;
    font-size: 14px;
}

.taps.f {
    border-radius: 0px 0px 5px 5px
}

.tap_title.f {
    display: flex;
    flex-direction: row;
}

.tap_title.f p {
    cursor: pointer;
}

.tap_title.f p.active {
    color: #6E86FB;
}

.tap_title.f span {
    margin-left: 10px;
    color: #666;
    font-weight: normal;
}

.url_f1 {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.url_f1 li {
    width: calc(33.33% - 10px);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 10px;
    /* box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.1); */
    background-color: #F9F9F9;
}

.url_f1 li:hover {
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.url_f1 li a {
    display: flex;
    flex-direction: row;
}

.url_f1 li .type {
    color: #999;
}

.url_f1 li .type span {
    margin-left: 5px;
}

.url_f1 li .title {
    height: 45px;
    line-height: 16px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.url_f1 li img {
    width: 85px;
    height: 85px;
}

.url_f1 li .txt {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.url_f1 li .type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.url_f2 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.url_f2 li {
    width: 100%;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    /* box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.1); */
}

/* .url_f2 li:hover {
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
} */

.url_f2 li a {
    display: flex;
    flex-direction: row;
}

.url_f2 li .type {
    color: #999;
}

.url_f2 li .type span {
    margin-left: 5px;
}

.url_f2 li .title {
    height: 25px;
    line-height: 16px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.url_f2 li img {
    width: 55px;
    height: 55px;
}

.url_f2 li .txt {
    width: 180px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.url_f2 li .type {
    display: flex;
    flex-direction: row;
}

.url_f2 .detail {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 70px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    color: #6E86FB;
    border: 1px solid #6E86FB;
}

.url_f2 li :hover .detail {
    background-color: #6E86FB;
    color: #fff;
}

.taps.g {
    height: 580px;
    border-radius: 5px 5px 5px 5px
}

.taps.g .tap_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taps.g .tap_title a {
    font-size: 16px;
    color: #999;
    font-weight: normal;
    margin-right: 15px;
}

.url_f3 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
}

.url_f3 li {
    width: calc(16.6666% - 20px);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 0px;
    /* box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.1); */
}

.url_f3 li:hover .title {
    color: #6E86FB;
}

.url_f3 li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.url_f3 li .type {
    text-align: center;
    color: #999;
}

.url_f3 li .type span {
    margin-left: 5px;
}

.url_f3 li .title {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #333;
}

.url_f3 li img {
    width: 80px;
    margin: 0px auto;
    height: 80px;
}

.url_f3 li .type {}


.url_f4 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.url_f4 li {
    width: 100%;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 6px;
    font-size: 14px;
    /* box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.1); */
}

/* .url_f2 li:hover {
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
} */

.url_f4 li a {
    display: flex;
    flex-direction: row;
}

.url_f4 li .type {
    color: #999;
}

.url_f4 li .type span {
    margin-left: 5px;
}

.url_f4 li .title {
    height: 25px;
    line-height: 16px;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.url_f4 li .title1 {
    height: 25px;
    line-height: 16px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.url_f4 li img {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 10px;
    display: none;
    background-color: #fff;
}

.url_f4 li .txt {
    width: 180px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: absolute;
    top: 10px;
    left: 55px;
    display: none;
    background-color: #fff;
}

.url_f4 li .type {
    display: flex;
    flex-direction: row;
}

.url_f4 .detail {
    position: absolute;
    right: 0px;
    top: 17px;
    width: 70px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #6E86FB;
    border: 1px solid #6E86FB;
}

.url_f4 li :hover .detail {
    background-color: #6E86FB;
    color: #fff;
}
.url_f4 li:nth-child(1) .number{
    background-color:#FA4E57;
}
.url_f4 li:nth-child(2) .number{
    background-color:#FA7A53;
}
.url_f4 li:nth-child(3) .number{
    background-color:#FBC258;
}
.url_f4 .number {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #879299;
    color: #fff;
    font-weight: 700;
    margin-top: 8px;
    margin-right: 10px;
}

.url_f4 li:hover .txt {
    display: block;
}

.url_f4 li:hover img {
    display: block;
}

.url_f4 li:hover .number {
    opacity: 0;
}

.url_f4 li:hover .title1 {
    opacity: 0;
}